$color-principal:rgb(77, 130, 255);
$color-principal-2:rgba(9,9,9,1);
$color-1: rgb(74, 60, 177);
$color-letras:white;
$color-h2: white;
$color-card: rgb(218, 223, 250);
$font-principal:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$color-logo-hover_nav:#16ffff;