$color-principal:rgba(0,22,184,1);
$color-principal-2:rgba(9,9,9,1);
$color-carrusel-1: rgb(99, 78, 255);
$color-carrusel-2: rgb(0, 0, 0);
$color-carrusel-letras:white;
$color-h2: white;
$color-card: rgb(218, 223, 250);
$font-principal:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$color-logo-hover_nav:#16ffff;